@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  html body {
    min-height: 100vh;
    font-family: sans-serif;
  }

  html.dark body {
    @apply text-white bg-gray-700 transition-all;
  }
}

@layer components {
  .responsive {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .fs-small {
    font-size: clamp(theme("fontSize.sm"), 3vw, theme("fontSize.base"));
  }

  .fs-mid {
    font-size: clamp(theme("fontSize.xl"), 3vw, theme("fontSize.2xl"));
  }

  .fs-large {
    font-size: clamp(theme("fontSize.3xl"), 3.5vw, theme("fontSize.4xl"));
  }

  .fs-ex-large {
    font-size: clamp(theme("fontSize.4xl"), 3.5vw, theme("fontSize.5xl"));
  }

  .navigation {
    @apply absolute md:relative flex gap-4 flex-col md:flex-row top-full mt-2 shadow-md md:scale-100;
    @apply md:shadow-none;
    @apply rounded-xl md:rounded-none;
    @apply px-4 py-4 md:p-0;
  }
}
